@charset "UTF-8";

/*COLOR TEMPLATE*/

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: #f2f2f2;
}

.tealline{
	width:15%;
	height: 2px;
	border: 0 none;
	color:#24B3B4;
	background-color:#24B3B4;
}

mark.teal{
	color:#24B3B4;
	background: none;
}


/*NAV BAR (HEAD A/B) */

header {
	position:absolute;
	top:0;
	left:0;
	z-index: 100;
	width:100%;
}

.headA{
display: inline-block;
line-height: 50px;
padding-left: 20px;
padding-right: 20px;
background-color: #24B3B4;
color: #fff;
font-size: 24px;
text-decoration: none;
}


.headB ul{
	margin:0;
	padding:0;
	list-style: none;
}

.headB a{
	display:block;
	padding:15px;
	color:white;
	font-size: 18px;
	text-decoration: none;

}

.headB a:hover{
	cursor:pointer;
	transition: 1s ease;
	background-color: #24B3B4;
}


/* //////////CONTAINER A ////////// */

.conA{
	display:flex;
	align-items: center;
	justify-content:center;
	height: 100vh;
	min-height:450px;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),url("../img/header01.jpg"); 
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: #FFF;
	text-align: center;
}

.conA img{
	width: 50vw;
}

.conA p{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
}


.conA a{
	display:inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background: none;
	color:#fff;
	text-decoration: none;
}

.conA a:hover {
	background-color: #24B3B4;
	transition: 1s ease;
}

.conA h2{
	font-size: 18px;
}

/* ////////// CONTAINER B //////////*/

.conC{
	min-height:450px;
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)),url("../img/test.png"); 
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}


.conC h1{
	color:white;
	text-align: center;
}

.conC h2{
	color:white;
	margin-top:0;
	margin-bottom:10px;
	font-size:20px;
}

.conC p {
	text-align: center;
	color:white;
	margin-top:30px;
	margin-bottom: 20px;
	font-size:16px;
	line-height: 1.8;
}

.conC .container {
	padding-top: 35px;
	padding-bottom:40px;
}

/*DOWNLOAD CV BUTTON*/

.conC a{
	display:inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background: none;
	color:#fff;
	text-decoration: none;

}

.conC a:hover {
	background-color: #24B3B4;
	transition: 1s ease;
}


/* //////////CONTAINER C ////////// */

.conB{
	padding-top: 35px;
}

.conB .container{
	display:flex;
	flex-wrap:wrap;
	max-width:1200px;
	margin:30px auto;
	padding-top: 40px;
	padding-bottom:80px;
}

.conB h1{
	text-align: center;
}

.conB h2{
	font-size:18px;
}

.conB p{
	font-size: 14px;
}

.conB .photo{
	min-height:250px;
	background-position: center;
	background-size: cover;
}

.conB a {
	top:0;
	background-color: white;
	flex: 2;
	margin: 10px;
	display:block;
	box-shadow: 1px 3px 3px #ddd;
	color: inherit;
	text-decoration: none;
}

.conB a:hover{
	cursor:pointer;
	-webkit-transform: scale(1.01);
	transition: 1s ease;
}

.conB .text{
	margin:10px;
}

.conB article {
	flex: 1 1 350px;
	display:flex;
}

/*MODAL*/

.modal .container{
	text-align: center;
	padding:10px 30px;
}

.modal img{
	display:block;
	margin: 0 auto;
width: 100%;
}

.modal .webbtn {
	display:inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background-color: #24B3B4;
	color:white;
	text-decoration: none;
}


/* /////////CONTAINER D /////////// */

.conD{
	padding-top: 35px;
}

.conD h1{
	text-align: center;
}

/*FORM CSS */

.conD input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.conD input[type=submit] {
    background-color: #24B3B4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.conD input[type=submit]:hover {
	background-color: #242B2F;
    transition: 0.5s ease;
}

.conD .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top:40px;
   	max-width:800px;
   	margin:30px auto;
}

/*////////// FOOTER //////////*/

footer{
	color: #fff;
	background-color: #222222;
}

footer .container {
	padding:30px 20px;
	display:flex;
	text-align: center;
	justify-content:center;
	align-items:center;

}

.footA h2{
	margin-top:0;
	margin-bottom:0;
	font-size: 30px;
}

.footA p{
	margin-top:0;
	margin-bottom:0;
	font-size:14px;
}



.footD{
	margin-top:10px;
}

.footD ul{
	display:flex;
	margin:0;
	padding:0;
	list-style:none;
}


.footD a{
	display:block;
	margin-right:10px;
	padding:0;
	color:inherit;
	font-size: 24px;
	text-decoration: none;
	border:solid 1px currentColor;
	width:2em;
	line-height:2em;
	border-radius: 50%;
	text-align: center;
}

.footD a:hover{
	transition: 1s ease;
	background-color: #24B3B4;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ////////// RESPONSIVE TABLET/PC //////////*/

@media (min-width: 768px) {

		header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin-left: auto;
		margin-right:auto;
	}

	.conC .container{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.headB {
		display:block !important;
	}
	
	.headB ul{
		display:flex;
	}

	.headC{
		display:none;
	}

	.contact-wrap{
		display: flex;
	}

}

/***********MAX WIDTH***********/

@media(max-width: 767px){

	header .container-small{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

.conA , .conC, footer{
/*	background-image: url("../img/test.png");*/
	background-image:none; 
	background-color: #222222;
}

.conA img{
	width:80vw;
}

.headA{
	 opacity: 0;
}

.headC{
	margin: 10px;
	padding:5px 10px;
	border:1px solid #24B3B4;
	border-radius: 3px;
	outline:none;
	background:none;
	font-size:28px;
	cursor: pointer;
	color: #24B3B4;
}

.headC:hover{
	transition: 0.5s ease;
	color: #242B2F;
	background-color: #24B3B4; 
}

.headB{
	background-color: rgba(0,0,0,0.4);
	display:none;
}


/*modal media queries*/

.modal .container{
	padding:0;
	line-height: 1.5;
	text-align: left;
}

.modal .webbtn {
	display: inline-block;
	margin:0 auto;
text-align: center;
}

.modal img{
	margin:0;
}

} /*END OF MAX MEDIA QUERIES */


@media (min-width:1000px){
	.conB article{
		flex: 1 1 50%;
	}
}

/* ////////// END OF RESPONSIVE ////////// */

div.hidden {
    display: none;
}

.copyright{
	text-align: center;
	padding-bottom: 10px;
}